@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: black;
    --branco: rgb(67, 1, 72);
    --laranja: rgb(19, 65, 151);
    --azul-degrade: linear-gradient(97.54deg, purple 35.49%, rgb(0, 157, 255) 165.37%);
    --fonte-principal: "Poppins";
    --azul: rgb(62, 0, 128);
    --fonte-secundario: "Josefin Sans";
     --preto: black;  
    --cinza: blue;
    --cinza-claro: blue;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}